.Alert {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid #41403e;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  transition: all 235ms ease-in-out 0s;
  display: flex;
  justify-content: space-between;
  max-height: 48rem;
  overflow: hidden;
  z-index: 2000;
  position: fixed;
}
.Hidden {
  border-width: 0;
  margin: 0;
  max-height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
  color: #41403e;
}
.Primary {
  background-color: #c1c0bd;
  border-color: #41403e;
}
.Secondary {
  background-color: #deefff;
  border-color: #0071de;
}
.Success {
  background-color: #d0dbc2;
  border-color: #86a361;
}
.Warning {
  background-color: #f5f0c6;
  border-color: #ddcd45;
}
.Danger {
  background-color: #f0cbc9;
  border-color: #a7342d;
}
.BtnClose {
  transition: all 235ms ease-in-out 0s;
  color: #5b5a57;
  cursor: pointer;
  margin-left: 0.75rem;
}
.BtnClose:active,
.BtnClose:focus,
.BtnClose:hover {
  color: #272625;
}
