.Textarea {
  margin-top: 25px;
  width: 100%;
}
.Textarea textarea {
  background: 0 0;
  border: 2px solid #41403e;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  color: #41403e;
  display: block;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem;
  width: 100%;
  font-family: Neucha, sans-serif;
  resize: none;
}
